body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  align-items: center;
}


table{
  color: black;
  border: 2px solid black;
}

th{
  background-color: yellow;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}

.sno {
  background-color: yellow;
  font-weight: bold;
  align-items: right;
  justify-content: center;
  padding-left: 25px;
}